<div class="navbar-header">
  {{#link-to 'index' tagName="a" class="navbar-brand"}}<a href> Bookworm</a>{{/link-to}}
</div>
<div>
    <ul class="nav navbar-nav">
        {{#link-to 'books' tagName="li"}}<a href> Books</a>{{/link-to}}
    </ul>
</div>